header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.title{
    h1{
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 800;
    }
}
